.link-pods {
    margin: 0;
    padding: 0;
    list-style: none;    
    li {
        margin-bottom: 16px;        
        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            height: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            height: 100%;
            img {
                border-top-left-radius: 33px;
                flex-shrink: 0;
            }
            p {
                border-bottom-right-radius: 33px;
                margin-bottom: 0;
                background: #8F298C;
                padding: 24px 88px 24px 24px;
                color: #ffffff;
                width: 100%;
                flex-grow: 1;
                font-family: $font-secondary;
                position: relative;
                @include heading-xsmall();
                margin: 0;
                @media (min-width: 641px) {
                    margin: 0;
                }

                &:after {
                    content: "\f0a9";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    position: absolute;
                    right: 24px;
                    font-size: 37px;
                    top: 16px;
                    line-height: 40px;
                    @media (min-width: 568px) {
                        top: 22px;
                    }
                }
                &.red {
                    background: $red;                
                    color: #ffffff;
                }
                &.blue {
                    background: $blue;                
                    color: #ffffff;
                }
                &.yellow {
                    background: $yellow;                
                    color: $dark-text;
                }
                &.green {
                    background: $green;                
                    color: #ffffff;
                }
                &.pink {
                    background: $pink;                
                    color: $dark-text;
                }
            }
            &:hover {
                text-decoration: none;
                p {
                    background: darken(#8F298C, 15%);                       
                    &.red {
                        background: darken($red, 15%);   
                    }
                    &.blue {
                        background: darken($blue, 15%);   
                    }
                    &.yellow {
                        background: darken($yellow, 15%); 
                        color: #ffffff;
                    }
                    &.green {
                        background: darken($green, 15%);         
                    }
                    &.pink {
                        background: darken($pink, 20%);   
                        color: #ffffff;      
                    }
                }
            }
            &:focus, &:focus:hover {
                background: transparent;
                p {
                    background: #FFBF47;
                    color: #222222;
                    text-decoration: underline;
                    &:after {
                        color: #222222;
                    }
                }
            }
            &[rel=external] {
                &:after {
                    display: none;
                }
                p:after {
                    content: "\f35d";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    padding-left: 8px;
                }
            }
        }
    }
    @media (min-width: 568px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
        li {
            width: calc(50% - 17px);
            margin: 0 8px 16px 8px;
        }
    }   
    @media (min-width: 768px) {
        li {
            width: calc(33.333% - 17px);
        }
        li.half {
            width: calc(50% - 17px);
        }
        li.two-thirds {
            width: calc(66.666% - 17px);
        }
    }
}