.style-guide-example {
    padding: 20px;
    border: 1px solid #eeeeee;
}

.style-guide-black-bg {
    padding: 8px;
    background: #222222;
}

.style-guide-layout-example {
    padding: 8px;
    background: #f1f1f1;
}